* {
margin: 0px;
padding: 0px;
}

#menu {
margin: 0 auto;
width:50%;
text-align: center;
justify-content: center;
}

ul, ol {
list-style:none;
}

.nav > li {
float:left;
}

.nav li a {
background-color: #b4fb95;
color: #890c0c;
text-decoration:none;
padding:10px 12px;
display:block;
}

.nav li a:hover {
background-color: #b4fb95;
}

.nav li ul {
display:none;
position:absolute;
min-width:140px;
}

.nav li:hover > ul {
display:block;
}

.nav li ul li {
position:relative;
}

.nav li ul li ul {
right:-140px;
top:0px;
}
